include README.rst
include CHANGELOG.rst
include LICENSE.rst

# Include static assets (CSS and JavaScript)
recursive-include sphinxcontrib/mermaid *.css.j2 *.js.j2

prune tests
exclude .gitignore
global-exclude *.pyc
